.filter {
  max-width: calc(100% - 80px);
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #98d8ff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ccc;
  font-style: italic;
}

.colorFilter {
  padding-left: 12px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: calc(100% - 110px);
  width: 100%;
}

.colorFilterButton {
  margin-left: -10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-top-left-radius: 16px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  border-top-right-radius: 16px;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
