.form {
  padding: 40px 20px 20px;
  position: relative;
  display: grid;
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  color: #2a5d8a;
  font-weight: 700;
  font-size: 22px;
  background-color: white;
  border-radius: 16px 16px 0px 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.formLabel {
  position: relative;
}

.formInput {
  padding: 10px 20px;
  border: 1px solid #98d8ff;
  border-radius: 16px;
}
.formInput::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ccc;
  font-style: italic;
}

.form button[type='submit'] {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  color: #98d8ff;
  border: none;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  transition: all 250ms ease-in-out;
}

.form button[type='submit']:hover {
  background-color: #98d8ff;
  color: white;
}

.formLinkText{
  display: flex;
  gap: 6px;
  padding: 20px;
  max-width: fit-content;
}


